dist
.swc
.cache
/packages/cpp/*/out
/packages/js/*/lib
/packages/js/vrkit-builder-tool/src/*/package.json
*.tsbuildinfo
/.jupyter
/.idea
/.vs
/out
/build
/builds
/vcpkg_installed
.ipynb_checkpoints
__pycache__
venv
/.vs/
/vcpkg_installed*
/tmp*
CMakeLists.txt.user
*orig.json
irsdk_session*/
*.7z
/dist
/*.spec
node_modules
/packages/js/*/*.tgz
/packages/js/vrkit-native-interop/out
/packages/js/vrkit-native-interop/lib
/packages/js/vrkit-app/lib
/packages/js/vrkit-app/dist
/lib
#/*.lock
/logs
*.backup.json
.vrkit-dev.local.json
yarn-error.log
compile_commands.json
