dist
.cache
/packages/js/*/lib
/packages/js/vrkit-builder-tool/src/mjs/package.json
*.tsbuildinfo
/.jupyter
/.idea
/.vs
/out
/build
/vcpkg_installed
.ipynb_checkpoints
__pycache__
venv
/.vs/
/vcpkg_installed*
/tmp*
CMakeLists.txt.user
*orig.json
irsdk_session*/
*.7z
/dist
/*.spec
node_modules
/packages/js/vrkit-native-interop/out
/packages/js/vrkit-native-interop/lib
/packages/js/vrkit-app/lib
/lib
/*.lock
