registry=https://registry.npmjs.org/
script-shell=C:\\Program Files\\git\\bin\\bash.exe
@mui:registry=https://registry.npmjs.org/
@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
